.edit-form__button-submit {
  min-height: 50px;
  background-color: #000;
  color: #fff;
  border: 0;
  font-size: 18px;
  font-weight: 400;
}

.edit-form__button-submit:hover {
  opacity: .8;
  cursor: pointer;
}

@media screen and (max-width: 960px) {
  .edit-form__button-submit {
    font-size: 14px;
  }
}