.card__like {
  position: absolute;
  bottom: 30px;
  right: 18px;
  background-image: url("../../../images/icon_like-inactive.svg");
  background-size: contain;
  border: 0;
  width: 21px;
  height: 19px;
}