.edit-form__header {
  max-height: 23px;
  font-size: 24px;
  font-weight: 900;
  color: #000;
  padding-bottom: 54px;
}

@media screen and (max-width: 960px) {
  .edit-form__header {
    font-size: 18px;
    padding-bottom: 76px;
  }
}