.form__form {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 430px;
  height: 330px;
  z-index: 5;
  background-color: #fff;
  padding: 34px 36px 36px;
  box-sizing: border-box;
  border-radius: 10px;
}

@media screen and (max-width: 960px) {
  .form__form {
    justify-content: space-between;
    width: 282px;
    height: 332px;
    padding: 25px 22px;
  }
}