.element {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
    "image"
    "title";
  width: 282px;
  height: 361px;
  border-radius: 10px;
  background-color: white;
  overflow: hidden;
}