.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  background-color: transparent;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.button:hover {
  opacity: .6;
}

@media screen and (max-width: 960px) {
  .button:hover {
    opacity: 1;
  }
}