.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  background-color: transparent;
  box-sizing: border-box;
  cursor: pointer;
}

.button:hover {
  opacity: .6;
}